footer#footer
	div.footer-inner
		a.footer-logo(href="/")
			img(src="/assets/images/logo_word_white.png" alt="Logo for Traveling Jowas")
		div.footer-section
			div.footer-block
				h3.footer-heading Contact Us
				ul.contacts
					li
						h4.contacts-heading Hannah Agmata
						a(href="mailto:hannahagmata@yahoo.com") hannahagmata@yahoo.com
					li
						h4.contacts-heading Michael Braga
						a(href="mailto:michael_braga@outlook.com") michael_braga@outlook.com
		div.footer-section
			div.feed
				div.feed-post
					a(href="/" target="_blank")
						img(src="/assets/images/temp-feed.jpg")
				div.feed-post
					a(href="/" target="_blank")
						img(src="/assets/images/temp-feed.jpg")
				div.feed-post
					a(href="/" target="_blank")
						img(src="/assets/images/temp-feed.jpg")
				div.feed-post
					a(href="/" target="_blank")
						img(src="/assets/images/temp-feed.jpg")
				div.feed-post
					a(href="/" target="_blank")
						img(src="/assets/images/temp-feed.jpg")
				div.feed-post
					a(href="/" target="_blank")
						img(src="/assets/images/temp-feed.jpg")
		div.footer-section
			span.footer-copyright &#169 Traveling Jowas
