footer#footer
	div.footer-inner
		a.footer-logo(href="/")
			img(src="/assets/images/logo_word_white.png" alt="Logo for Traveling Jowas")
		div.footer-section
			div.feed
				div.feed-post
					a(href="/" target="_blank")
						img(src="/assets/images/temp-feed.jpg")
				div.feed-post
					a(href="/" target="_blank")
						img(src="/assets/images/temp-feed.jpg")
				div.feed-post
					a(href="/" target="_blank")
						img(src="/assets/images/temp-feed.jpg")
				div.feed-post
					a(href="/" target="_blank")
						img(src="/assets/images/temp-feed.jpg")
				div.feed-post
					a(href="/" target="_blank")
						img(src="/assets/images/temp-feed.jpg")
				div.feed-post
					a(href="/" target="_blank")
						img(src="/assets/images/temp-feed.jpg")
		div.footer-section
			span.footer-copyright &#169 Traveling Jowas
