head
	title Traveling Jowas
	meta(charset="utf-8")
	meta(name="description" content="Blog Traveling Site")
	meta(name="keywords" content="Traveling Blog Hot Spots")
	link(href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet")
