@use '../base/placeholders';
@use '../base/mixins';
@use '../base/colors';
@use 'sass:math';

.listings {
	@extend %WH100auto;

	@include mixins.breakpoint('large') {
		margin: 0 auto;
	}

	@include mixins.breakpoint('x-large') {
		max-width: 1150px;
	}

	&-list {
		display: grid;
		grid-template-columns: 1fr;
		grid-row-gap: 4rem;
		margin-bottom: 5rem;

		@include mixins.breakpoint('large') {
			grid-template-columns: repeat(2, 45%);
			grid-gap: 5rem 1rem;
			justify-content: center;
		}

		@include mixins.breakpoint('x-large') {
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 5rem 1.2rem;
		}
	}

	&-load {
		text-align: center;
	}
}

.listing {
	%_share {
		margin-top: 1.8rem;
	}

	&-image {
		@include mixins.beforeImage(133%);
		position: relative;
		overflow: hidden;
	}

	img {
		@extend %fullFill;
		transition: transform ease-out 0.3s;
		object-fit: cover;
	}

	&:hover img {
		transform: scale(1.2) translate(5%, 5%);
	}

	&-title {
		@extend %_share;
		text-align: center;
		color: colors.$main-color;
		font-weight: 100;
		text-transform: uppercase;
	}

	&-content {
		@extend %_share;
		@extend %content;
	}
}
