@use '../base/mixins' as *;
@use '../base/placeholders';
@use '../base/vars';
@use '../base/colors';

.mobile-nav {
	@extend %WH100;
	@include position(fixed, $t: 0, $l: 0);
	visibility: hidden;
	transform: scale(0);
	will-change: opacity,visibility,transform;
	z-index: 90;

	transition: visibility ease-in .3s,
		transform .3s ease-out;

	&-active {
		visibility: visible;
		transform: scale(1);
	}

	&-inner {
		@extend %WH100;
		padding-top: vars.$header-height;
	}

	&-list {
		@extend %WH100;
		display: flex;
		flex-direction: column;
		background: colors.$main-color;
	}

	&-item {
		width: 100%;
		flex: 1 1 auto;
		border-bottom: 1px solid colors.$very-light-white;
	}

	&-link {
		font-size: 1.2rem;
		font-weight: bold;
		color: colors.$white;
		@extend %center;
		@extend %WH100;

		transition: all 0.15s linear; 

		&:hover {
			background: colors.$white;
			color: colors.$main-color;
		}
	}
}
