@use '../base/mixins' as *;
@use '../base/placeholders';
@use '../base/vars';
@use '../base/colors';

.mobile-nav {
	@include position(fixed, $t: 0, $l: 0);
	@extend %fullFill;
	@extend %hide;
	will-change: opacity,visibility,transform;
	z-index: 90;

	transition: all ease-in .3s;

	&-active {
		@extend %appear;
	}

	&-inner {
		@extend %WH100;
		padding-top: vars.$header-height;
	}

	&-list {
		@extend %WH100;
		@extend %center;
		box-shadow: vars.$header-shadow;
		display: flex;
		flex-direction: column;
		background: colors.$white;
	}

	&-item {
		width: 100%;
		padding: 2px 8px;
		display: flex;
		flex-direction: column;
	}

	&-link {
		@extend %center;
		@extend %WH100;
		font-size: 1.2rem;
		color: colors.$black-text;
		opacity: 0.8;

		transition: all 0.1s linear; 

		&:hover {
			color: colors.$main-color;
		}
	}

	&-submenu {
		margin: 0;
		transform: scale(0);
		height: 0;
		@extend %hide;

		transition: all 0.2s linear;
	}

	&-submenu-active {
		@extend %appear;
		height: 100%;
		transform: scale(1);
		margin: 1rem 0;
	}
}
