@use './vars';
@use './colors';

* {
	box-sizing: border-box;
}

body {
	color: colors.$black-text;
	height: 100%;
	font-family: vars.$roboto;
	font-size: 1rem;
	letter-spacing: 1px;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

body, p, h2, h3, h4, ul, li {
	margin: 0;
}

ul, li, button {
	padding: 0;
}

button {
	border: none;
	outline: none;
}

main {
	min-height: 100vh;
}
