@use 'sass:color';
@use './colors';
@use './mixins';

%center {
	display: flex;
	align-items: center;
	justify-content: center;
}

%fullFill {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

%fullscreen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

%absoulteCenter {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

%hide {
	visibility: hidden;
	opacity: 0;
}

%appear {
	visibility: visible;
	opacity: 1;
}

%WH100 {
	width: 100%;
	height: 100%;
}

%WH100auto {
	width: 100%;
	height: auto;
}

%middle {
	margin: 0 auto;
}

%textHover {
	color: color.complement(colors.$main-color);
}

%content {
	color: colors.$black-text;
	line-height: 1.75;
	font-size: 0.9rem;
	opacity: 0.95;
}

//Layouts
%inner {
	padding: 25px;

	@include mixins.breakpoint('medium') {
		padding-left: 40px;
		padding-right: 40px;
	}

	@include mixins.breakpoint('x-large') {
		padding-left: 70px;
		padding-right: 70px;
	}
}

//typography
%common_text {
	margin-top: 1.5rem;
	line-height: 1.50;
	color: colors.$black-text;
	opacity: 0.9;
	font-size: 0.9rem;
}

%start_margin {
	margin-top: 4rem;
}
