extends layout.pug

block content
	main.no-hero
		div.strip
			img(src="./assets/images/about-test.jpg")
			img(src="./assets/images/about-test.jpg")
			img(src="./assets/images/about-test.jpg")
			img(src="./assets/images/about-test.jpg")
			img(src="./assets/images/about-test.jpg")
		div.about
			div.about-inner
				h2.title About Me
				hr.seperator
				div.about-content
					p Hi there! Welcome to my blog! :)
					p I am Hannah Gem, a recent graduate from York University. Ever since my first trip to Hawaii with my high school friends, I fell in love with travelling. I told myself that when I finish school, I will pack my bags and explore this beautiful planet of ours! ...and so I did! :)
					p I started this blog as a creative outlet to showcase my love for travelling and photography. Luckily, my jowa (boyfriend) is very supportive of my travel dreams. He travels with me, and of course, I trained him to takes my photos!
					p I named this blog "Travelling Jowas" because I always travel with my boyfriend (on a budget, of course). "Jowa" is a Tagalog word used to refer to your significant other. It is a gender-neutral term. 
					p The jowa and I have been to a lot of adventures together, and we are definitely down for more! In this blog, I will share with you all the good and the bad of our trips! Heads up, our travels are mostly likely on a budget because as I said earlier, I am a recent university graduate, hence, I am very broke. :P
					p I hope that when you read my blog posts and see my travel photos, you will get inspired to get out there and experience new things. This wonderful planet of ours is full of beauty, charm, and adventure, and it is waiting for you to explore it! :)
